/*  */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lexend:500,700,400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/*  */
.quiz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #f7fafc;
}

.quiz .depth-frame {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.quiz .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.quiz .depth-frame-2 {
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e5e8ea;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.quiz .depth-frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.quiz .img {
  position: relative;
  flex: 0 0 auto;
}

.quiz .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.quiz .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0c141c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.quiz .depth-frame-4 {
  width: 1095px;
  justify-content: flex-end;
  gap: 32px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.quiz .depth-frame-5 {
  display: inline-flex;
  height: 40px;
  align-items: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.quiz .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #111416;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.quiz .depth-frame-6 {
  max-width: 480px;
  height: 40px;
  position: relative;
  flex: 0 0 auto;
}

.quiz .ellipse {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.quiz .depth-frame-wrapper {
  align-items: flex-start;
  justify-content: center;
  padding: 20px 160px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.quiz .depth-frame-7 {
  flex-direction: column;
  max-width: 960px;
  flex: 1;
  flex-grow: 1;
  margin-bottom: -1.00px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.quiz .depth-frame-8 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px 8px;
  padding: 16px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.quiz .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #607589;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.quiz .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #607589;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.quiz .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #111416;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.quiz .depth-frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 16px 12px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.quiz .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #111416;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 35px;
}

.quiz .depth-frame-10 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.quiz .depth-frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.quiz .depth-frame-12 {
  height: 56px;
  padding: 0px 12px;
  background-color: #eff2f4;
  border-radius: 8px;
  display: flex;
  width: 299px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quiz .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #111416;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
}

.quiz .depth-frame-13 {
  flex: 0 0 auto;
  display: flex;
  width: 299px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quiz .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #111416;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.quiz .depth-frame-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1.00px;
}

.quiz .depth-frame-15 {
  display: flex;
  flex-direction: column;
  height: 47px;
  align-items: flex-start;
  padding: 16px 16px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.quiz .depth-frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 16px 12px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.quiz .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #111416;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.quiz .depth-frame-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.quiz .depth-frame-18 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
  border: 1px solid;
  border-color: #dbe0e5;
}

.quiz .depth-frame-19 {
  position: relative;
  width: 20px;
  height: 20px;
}

.quiz .depth-frame-20 {
  display: flex;
  flex-direction: column;
  width: 860px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.quiz .depth-frame-21 {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #dbe0e5;
}

.quiz .depth-frame-22 {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 480px;
  align-items: flex-end;
  gap: 16px 16px;
  padding: 12px 16px;
  position: relative;
  flex: 0 0 auto;
}

.quiz .depth-frame-23 {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.quiz .depth-frame-24 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  min-height: 144px;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #dbe0e5;
}

.quiz .depth-frame-25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 16px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.quiz .depth-frame-26 {
  display: inline-flex;
  min-width: 84px;
  max-width: 480px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  background-color: #117fed;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}

.quiz .depth-frame-27 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.quiz .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}
