/* */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lexend:500,700,400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/*  */
.enrollment-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #f7fafc;
}

.enrollment-summary .depth-frame {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f7f9fc;
}

.enrollment-summary .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.enrollment-summary .depth-frame-2 {
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e5e8ea;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.enrollment-summary .depth-frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .img {
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0c141c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.enrollment-summary .depth-frame-4 {
  justify-content: flex-end;
  gap: 32px;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.enrollment-summary .depth-frame-5 {
  display: inline-flex;
  height: 40px;
  align-items: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #0c141c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.enrollment-summary .depth-frame-6 {
  position: relative;
  max-width: 480px;
  flex: 0 0 auto;
  height: 40px;
}

.enrollment-summary .ellipse {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.enrollment-summary .depth-frame-wrapper {
  align-items: flex-start;
  justify-content: center;
  padding: 20px 160px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.enrollment-summary .depth-frame-7 {
  flex-direction: column;
  max-width: 960px;
  height: 695px;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.enrollment-summary .depth-frame-8 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 12px 12px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.enrollment-summary .depth-frame-9 {
  display: inline-flex;
  flex-direction: column;
  min-width: 288px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0c141c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.enrollment-summary .depth-frame-10 {
  display: flex;
  flex-direction: column;
  height: 47px;
  align-items: flex-start;
  padding: 16px 16px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.enrollment-summary .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0c141c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
}

.enrollment-summary .depth-frame-11 {
  display: flex;
  min-height: 72px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f7f9fc;
}

.enrollment-summary .depth-frame-12 {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: url(../image/Depth\ 6\,\ Frame\ 0.png)
    50% 50% / cover;
}

.enrollment-summary .depth-frame-13 {
  justify-content: center;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.enrollment-summary .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #0c141c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.enrollment-summary .depth-frame-14 {
  display: flex;
  flex-direction: column;
  width: 230px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #4c7299;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.enrollment-summary .element-wrapper {
  flex: 1;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.enrollment-summary .element {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #0c141c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.enrollment-summary .span {
  font-weight: 700;
}

.enrollment-summary .text-wrapper-7 {
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #0c141c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.enrollment-summary .depth-frame-15 {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: url(../image/Depth\ 6\,\ Frame\ 0\ \(1\).png)
    50% 50% / cover;
}

.enrollment-summary .depth-frame-16 {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .depth-frame-17 {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: url(../image/Depth\ 6\,\ Frame\ 0\ \(2\).png)
    50% 50% / cover;
}

.enrollment-summary .depth-frame-18 {
  width: 286px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .depth-frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.enrollment-summary .depth-frame-20 {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f7f9fc;
}

.enrollment-summary .depth-frame-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.enrollment-summary .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #0c141c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.enrollment-summary .depth-frame-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.enrollment-summary .depth-frame-23 {
  display: inline-flex;
  min-width: 84px;
  max-width: 480px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background-color: #117fed;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .depth-frame-24 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.enrollment-summary .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #f7f9fc;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}
